* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

.top-padding-adjustment {
    padding-top: 70px;
}

.hero {
    min-height: 100vh;
    width: 100%;
    margin-top: -70px;
    padding-top: 70px;
    background-image: url('./app/images/IMG_5647.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.hero-title {
    font-size: 5rem;
    color: black;
    text-shadow: 0 2px 8px rbga(0, 0, 0, 0.3);
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
}



.hero-subtitle {
    font-size: 1.5rem;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
}

.hero-row {
    padding-top: 10%;
}

.home-page-row-btns {
    min-width: 100px;
}

.hero-text-box {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;;
    padding: 2rem 3rem;
    box-shadow: 
        0 8px 32px rbga(0, 0, 0, 0.2)
        inset 0 1px 0 rbga(255, 255, 255, 0.4);
}

.preview-display-row {
    padding-top: 5%;
    padding-bottom: 5%;
}

.preview-display-background {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;;
    padding: 2rem 3rem;
    box-shadow: 
        0 8px 32px rbga(0, 0, 0, 0.2)
        inset 0 1px 0 rbga(255, 255, 255, 0.4);
}

.comment-close-icon {
    cursor: pointer;
    color: 'red';
}

.comment-close-icon:hover {
    color: red;
}

.pointer-effect {
    cursor: pointer
}

.font-setting {
    font-family: 'Bebas Neue', sans-serif;
}